In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
X = pd.read_csv("C:\\Users\\kanch\\Downloads\\X (1).csv")

In [3]:
Y = pd.read_csv("C:\\Users\\kanch\\Downloads\\Y (1).csv")

In [4]:
X

,Unnamed: 0,BorrowerAPR,CreditScoreRangeLower,CreditScoreRangeUpper,LP_CustomerPrincipalPayments,EstimatedReturn,LenderYield,LenderYield.1,LP_CustomerPayments,EstimatedLoss,BorrowerRate
0,0,0.314645,0.3750,0.3750,0.710680,0.375000,0.314292,0.314292,0.689819,0.375,0.336063
1,2,0.547768,0.0000,0.0000,0.226287,0.375000,0.530898,0.530898,0.253511,0.375,0.584920
2,11,0.285230,0.3750,0.3750,0.075404,0.375000,0.281376,0.281376,0.061366,0.375,0.281825
3,12,0.343466,0.5000,0.5000,0.006684,0.000000,0.304736,0.304736,0.008362,0.000,0.305222
4,15,0.697087,0.5625,0.5625,0.015816,1.000000,0.674666,0.674666,0.031680,1.000,0.675742
...,...,...,...,...,...,...,...,...,...,...,...
57356,113927,0.135197,0.7500,0.7500,0.323632,0.375000,0.144192,0.144192,0.288024,0.375,0.144422
57357,113928,0.430602,0.6875,0.6875,0.150807,0.748814,0.403270,0.403270,0.126240,0.000,0.403914
57358,113929,0.587756,0.4375,0.4375,0.188509,0.458120,0.560416,0.560416,0.161883,1.000,0.561310
57359,113933,0.249269,0.5625,0.5625,0.150593,0.000000,0.235719,0.235719,0.141183,0.000,0.236095
57360,113935,0.550525,0.5000,0.5000,1.000000,1.000000,0.553196,0.553196,1.000000,0.000,0.554078

In [5]:
X.drop(columns = ["Unnamed: 0"],axis = 1,inplace = True)

In [6]:
X

,BorrowerAPR,CreditScoreRangeLower,CreditScoreRangeUpper,LP_CustomerPrincipalPayments,EstimatedReturn,LenderYield,LenderYield.1,LP_CustomerPayments,EstimatedLoss,BorrowerRate
0,0.314645,0.3750,0.3750,0.710680,0.375000,0.314292,0.314292,0.689819,0.375,0.336063
1,0.547768,0.0000,0.0000,0.226287,0.375000,0.530898,0.530898,0.253511,0.375,0.584920
2,0.285230,0.3750,0.3750,0.075404,0.375000,0.281376,0.281376,0.061366,0.375,0.281825
3,0.343466,0.5000,0.5000,0.006684,0.000000,0.304736,0.304736,0.008362,0.000,0.305222
4,0.697087,0.5625,0.5625,0.015816,1.000000,0.674666,0.674666,0.031680,1.000,0.675742
...,...,...,...,...,...,...,...,...,...,...
57356,0.135197,0.7500,0.7500,0.323632,0.375000,0.144192,0.144192,0.288024,0.375,0.144422
57357,0.430602,0.6875,0.6875,0.150807,0.748814,0.403270,0.403270,0.126240,0.000,0.403914
57358,0.587756,0.4375,0.4375,0.188509,0.458120,0.560416,0.560416,0.161883,1.000,0.561310
57359,0.249269,0.5625,0.5625,0.150593,0.000000,0.235719,0.235719,0.141183,0.000,0.236095
57360,0.550525,0.5000,0.5000,1.000000,1.000000,0.553196,0.553196,1.000000,0.000,0.554078

In [7]:
Y

       Unnamed: 0  LoanStatus
0               0           1
1               2           1
2              11           1
3              12           1
4              15           1
...           ...         ...
57356      113927           1
57357      113928           1
57358      113929           1
57359      113933           1
57360      113935           1

[57361 rows x 2 columns]

In [8]:
Y.drop(columns = ["Unnamed: 0"],axis = 1,inplace = True)

In [9]:
Y

       LoanStatus
0               1
1               1
2               1
3               1
4               1
...           ...
57356           1
57357           1
57358           1
57359           1
57360           1

[57361 rows x 1 columns]

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=1, stratify=Y)

# Applying PCA

# from sklean applying PCA on X_train and X_test data

# For X_train data

In [12]:
pca = PCA(n_components=2)

In [13]:
x_pca = pca.fit_transform(X_train)

In [14]:
x_pca.shape

(45888, 2)

# For X_test data

In [15]:
pca = PCA(n_components=2)

In [18]:
x1_pca = pca.fit_transform(X_test)

In [20]:
x1_pca.shape

(11473, 2)

# Model BUilding with XGboost

In [21]:
import xgboost as xgb

In [22]:
#before you can train xgboost, you need to change data into a DMatrix
train = xgb.DMatrix(X_train, label=Y_train)
test = xgb.DMatrix(X_test, label=Y_test)

In [23]:
#now we have to define the hyperparameter values for XGBOOST
param = {
    'max_depth' : 2,
    'eta' : 0.2,
    'objective' : 'binary:hinge'
}
epochs = 100

In [24]:
model = xgb.train(param, train, epochs)

In [25]:
tesing_predictions = model.predict(test)
print (tesing_predictions)

training_predictions = model.predict(train)

[1. 1. 1. ... 1. 1. 1.]

In [27]:
# Checking accuracy score
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,tesing_predictions)

0.8662947790464569